body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.navbar-nav .nav-link {
  color: black !important;
}
.container {
  flex: 1;
}

/*Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
}

.nav-link {
  color: #222222 !important;
}
.navbar-toggler {
  background-color: #222222;
}

/*Footer*/
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links .f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials {
  font-size: 1rem;
  margin-right: 1rem;
}
.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */
.card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.card-img-top {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}

/* New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: azure;
}
/* Show Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}
