<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br /><br /><br />
    <h3>Create a New Listing</h3>
    <!--page ko middle me lane ke liye offset ka use kiya -->
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <!--mb for margine bottom-->
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required>
        </textarea>
        <div class="invalid-feedback">please enter a short description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          name="listing[image]"
          placeholder="Give URL"
          type="text"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-mid-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1500"
            class="form-control"
            required
          />
          <div class="invalid-feedback">price should be valid</div>
        </div>

        <div class="mb-3 col-mid-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="enter country"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">country should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="enter location"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">location should be valid</div>
      </div>

      <button class="btn btn-dark add-btn">Add</button>
      <br />
      <br />
      <br />
    </form>
  </div>
</div>
